<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
<h1 class="h3">Browse Flights</h1>
<div *ngIf="data">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                <button class="page-link" type="button" (click)="first()">First</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="previous()">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" disabled>{{data.number + 1}}</button>
            </li>
                        <li class="page-item">
                <button class="page-link" type="button" (click)="next()" [disabled]="data.last">Next</button>
            </li>

                        <li class="page-item">
                <button class="page-link" type="button" (click)="last()" [disabled]="data.first">Last</button>
            </li>


        </ul>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Destination</th>
                <th scope="col">Scheduled At</th>
                <th scope="col">Estimated At</th>
                <th scope="col">Actions At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of data.content">
                <th scope="row">{{flight.id}}</th>
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.destination}}</td>
                <td>{{webService.formatDate(flight.scheduledAt)}}</td>
                <td>{{webService.formatDate(flight.estimatedAt)}}</td>
                <td>
                    <div class="btn-group">
                        <a routerLink="/flight/{{flight.id}}" class="btn btn-primary">Details</a>
                    </div>
                </td>
            </tr>
           
        </tbody>
    </table>
</div>